.table {
               margin-inline: auto;
width: 50%;
border-collapse: collapse;
border: 1px solid #ccc;
}

.table th, .table td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}

.table th {
background-color: #f2f2f2;
}

.table Thead th {
background-color: #ee820693;
font-weight: bold;
}