header {
               display: flex;
               align-items: center;
               justify-content: space-between;
               background-color: rgb(2, 7, 17);
               color: #fff;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-size: 1.5rem;
               padding-inline: 0.5rem;
             }
           
             ul {
               display: flex;
               justify-content: end;
               padding: 0.8rem;
             }
             li {
               margin-inline: 1rem;
               list-style: none;
             }
             li:hover {
               background: #ee8206;
               padding: 0.5rem;
               border-radius: 1rem;
             }
             li.active {
               background-color: #ee8206;
               padding: 0.5rem;
               border-radius: 1rem;
             }
             a{
                          text-decoration: none;
                          color: #fff;
             }
             .logo {
               text-decoration: none;
               color: #fff;
               text-transform: uppercase;
               font-weight: bold;
             }
            
             form {
                          display:flex;
                          flex-direction: column;
                          justify-content: center;
                          width: 50%;
                          margin: 2rem auto;
             }
             input,textarea{
                          display: block;
                          margin-block:1rem ;
                          padding: 1rem;
                          border-radius: 1rem;
                          border: 1px solid;
             }
             input[type="submit"]{
                          color: #fff;
                          background:#ee8206;
                          border: none;
             }
             input[type="submit"]:hover{
                          color: #fff;
                          background:#8b4e04;
                          border: none;
             }
             .containerbtn {
              display: flex;
              justify-content: center;
              margin-block: 2rem;
             }
             .btn {
              padding: 1rem;
              color: #fff;
              background-color:#ee8206;
              border-radius: 1rem;
              border: none;
              font-size: 1rem;
              cursor: pointer;
                   }