<header>
  <a href="#" class="logo"><img src="" alt=""></a>
  <nav>
    <ul>
      <li class="active"><a href="#">Accueil</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<div class="card col-sm-12">
               <form action="" method="">
                              <h1>Enregistrer un livre</h1>
                 <label for="title">Titre du livre</label>
                 <input type="text" placeholder="Entrer le titre du livre" id="title" />
                 <label for="author">Auteur du livre</label>
                 <input type="text" placeholder="Entrer l'auteur du livre" id="author" />
                 <label for="statut">Statut</label>
                 <input type="text" disabled value="En attente" id="statut" />
                 <input type="submit" value="Enregistrer" />
               </form>
</div>


